/* Custom styles */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #232529;
    color: #fff;
}

nav, footer {
    background-color: #1f2124;
    color: #fff;
}

nav a, footer a {
    color: #4dc0b5;
}

.bg-gray-100 {
    background-color: #232529;
}

.text-gray-800 {
    color: #fff;
}

.text-gray-600 {
    color: #ddd;
}

.text-teal-500 {
    background-color: #4dc0b5;
    color: #fff;
}

.text-teal-200 {
    color: #4dc0b5;
}

.text-teal-600 {
    background-color: #39928e;
    color: #fff;
}

.main-background {
    background-color: #232529; /* Match the background color of the webpage */
}

/* Project Cards styles */
.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
    box-shadow: 0 7px 6px rgba(255, 255, 255, 0.1); /* Add shadow on hover */
}

.project-card a {
    color: #4dc0b5;
}

/* Filter button styles */
.filter-button {
    background-color: #6b6b6b;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button.active {
    background-color: #4dc0b5;
    color: #fff;
}

.filter-button:hover {
    background-color: rgba(35, 37, 41, 0.414);
    color: #fff;
}

.filter-button:not(:last-child) {
    margin-right: 8px;
}


/* Dynamic text styles */

#dynamic-text {
    margin-left: 200px;
    font-size: 7em; /* Increased font size */
    font-weight: lighter; /* Lighter font weight */
}

.dynamic-word {
    font-weight: bold;
    color: #007bff; /* Initial color */
    animation: colorChange 5s infinite; /* Animation for color changing */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    opacity: 1; /* Default opacity */
}

@keyframes colorChange {
    0%, 100% { color: #007bff; }
    10% { color: #e91e63; }
    20% { color: #9c27b0; }
    30% { color: #673ab7; }
    40% { color: #3f51b5; }
    50% { color: #03a9f4; }
    60% { color: #00bcd4; }
    70% { color: #009688; }
    80% { color: #4caf50; }
    90% { color: #8bc34a; }
}

.test:hover {
   
    box-shadow: 0 7px 0px rgba(255, 255, 255, 0.11); /* Add shadow on hover */
}


